{{ form().openTag(form)|raw }}
    <div class="form-group">
        {{ formLabel(form.get('password')) }}
        {{ formElement(form.get('password')) }}
        {{ formElementErrors()
            .setMessageOpenFormat('<div class="text-danger pt-1">')
            .setMessageSeparatorString('<br />')
            .setMessageCloseString('</div>')
            .render(form.get('password'))
        |raw }}
    </div>

    <div class="form-group">
        {{ formLabel(form.get('passwordRepeat')) }}
        {{ formElement(form.get('passwordRepeat')) }}
        {{ formElementErrors()
            .setMessageOpenFormat('<div class="text-danger pt-1">')
            .setMessageSeparatorString('<br />')
            .setMessageCloseString('</div>')
            .render(form.get('passwordRepeat'))
        |raw }}
    </div>

    {{ formElement(form.get('userId')) }}

    <div class="form-group mt-2">
        {{ formElement(form.get('submit')) }}
    </div>

{{ form().closeTag(form)|raw }}